body {
    background-color: brown;
}

.funcionarios {
    background-color: blue;
}

#quaquercoisa {
    background-color: chartreuse;
}

h1 {
    color: white;
    background-color: yellowgreen;
    text-align: center;
}

.container img {
    max-width: 550px;
    max-height: 150px;
}

.arqueiro img {
    max-width: 550px;
    max-height: 150px;
}

.visao img {
    max-width: 550px;
    max-height: 150px;
}

.natasha img {
    max-width: 600px;
    max-height: 200px;
}